
<div ng-repeat="contributor in display.contributors track by $index">
    <a href="{{ contributor.url }}"><img src="{{ contributor.avatarUrl }}"></a>
    <a href="{{ contributor.url }}"><p>{{ contributor.name }}</p></a>
    <p>{{ contributor.contributions }}</p>
</div>

<div ng-repeat="pullRequest in display.pullRequests track by $index">
    <a href="{{ pullRequest.url }}"><h2>{{ pullRequest.title }} - {{ pullRequest.creationDate }}</h2></a>
    <p>{{ pullRequest.body }}</p>
</div>

<div ng-repeat="issue in display.issues track by $index">
    <a href="{{ issue.url }}"><h2>{{ issue.title }} - {{ issue.creationDate }}</h2></a>
    <p>{{ issue.body }}</p>
</div>

<p>mvp: {{ display.user.name }}</p>
