
<h1>Git Overview for <a href="{{ display.repository.url }}">{{ display.repository.name }}</a></h1>

<h2>Top Contributors</h2>
<div class="contributors">
    <div ng-repeat="contributor in display.contributors track by $index" class="contributor">
        <a href="{{ contributor.url }}"><img src="{{ contributor.avatarUrl }}"></a>
        <a href="{{ contributor.url }}"><h3>{{ contributor.name }}</h3></a>
        <p>Contributions: {{ contributor.contributions }}</p>
    </div>
</div>

<hr>

<h2>Most Recent Pull Requests</h2>
<div ng-repeat="pullRequest in display.pullRequests track by $index" class="request">
    <a href="{{ pullRequest.url }}"><h3>{{ pullRequest.title }} ></h3></a>
    <p class="date">Created on {{ pullRequest.creationDate }}</p>
    <p>{{ pullRequest.body }}</p>
</div>

<hr>

<h2>Most Recent Issues</h2>
<div ng-repeat="issue in display.issues track by $index" class="request">
    <a href="{{ issue.url }}"><h3>{{ issue.title }} ></h3></a>
    <p class="date">Created on {{ issue.creationDate }}</p>
    <p>{{ issue.body }}</p>
</div>

<hr>

<div class="mvp">
    <h2>MVP</h2>
    <h3>Most merges</h3>

    <a href="{{ display.user.url }}"><img src="{{ display.user.avatarUrl }}"></a>
    <p><a href="{{ display.user.url }}">{{ display.user.name }}</a> with {{ display.user.merges}} problems solved</p>

    <p>{{ vm.error }}</p>
</div>
